<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<p>
Dear Mr. Y,
<p>
    The following are the informations of current application.
    <p>
    &nbsp User Name : {{ USERNAME }} <br>
    &nbsp Application ID : {{ APP_ID }} <br>
    &nbsp Project : {{ PROJECT }} <br>
    &nbsp User Id : {{ USER_ID }} <br>
    &nbsp Task : {{ TASK }} <br>
    &nbsp Application Number : {{APP_NUMBER }} <br>
    &nbsp Process : {{ PROCESS }}
    </p>
</p>
</body>
</html>