{% extends BASE_TEMPLATE %}

{% block css %}


{% endblock %}

{% block content %}
<section id="main">
        <section id="content" class="content">
            <div class="container">
                <form action=execute method="post">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    <input type="submit" value="OK">
                 </form>
            </div>
        </section>
    </section>



{% endblock %}

{% block js %}

{% endblock %}
