<div id="pdf" style="display:none;"></div>
<div class="toolbar">
    <button class="cursor" type="button" title="Cursor" data-tooltype="cursor" id="pdfjs_cursor" style="display:none;">➚
    </button>
    <div class="spacer"></div>
    <button class="rectangle" type="button" title="Rectangle" data-tooltype="area" id="pdfjs_rectangle">
        &nbsp;</button>
    <button class="highlight" type="button" title="Highlight" data-tooltype="highlight" id="pdfjs_highlight">
        &nbsp;</button>
    <button class="strikeout" type="button" title="Strikeout" data-tooltype="strikeout" id="pdfjs_strikeout" style="display:none;">
        &nbsp;</button>
    <div class="spacer" style="display:none;"></div>
    <button class="text" type="button" title="Text Tool" data-tooltype="text" id="pdfjs_text" style="display:none;"></button>
    <select class="text-size" id="pdfjs_textsize" style="display:none;"></select>
    <div class="text-color" style="display:none;"></div>
    <div class="spacer" style="display:none;"></div>
    <button class="pen" type="button" title="Pen Tool" data-tooltype="draw" style="display:none;">✎</button>
    <select class="pen-size" style="display:none;"></select>
    <div class="pen-color" style="display:none;"></div>
    <div class="spacer"></div>
    <button class="comment" type="button" title="Comment" data-tooltype="point" style="display:none;">🗨
    </button>
    <div class="spacer" style="display:none;"></div>
    <select class="scale" style="display:none;">
        <option value=".5">50%</option>
        <option value="1">100%</option>
        <option value="1.33">133%</option>
        <option value="1.5">150%</option>
        <option value="2">200%</option>
    </select>
    <a href="javascript://" class="rotate-ccw" title="Rotate Counter Clockwise" style="display:none;">⟲</a>
    <a href="javascript://" class="rotate-cw" title="Rotate Clockwise" style="display:none;">⟳</a>
    <div class="spacer" style="display:none;"></div>
    <div class="spacer"></div>
    <button class="save" type="button" title="Save" data-type="selectUser" id="select_user"><i class="zmdi zmdi-storage c-green f-15"></i> Select User</button>
    <button class="save" type="button" title="Save" data-type="saveAnnotation" id="save_a_r"><i class="zmdi zmdi-storage c-green f-15"></i> Save</button>
    <button class="save" type="button" title="Save" data-type="showPage" id="save_a_r"><i class="zmdi zmdi-storage c-green f-15"></i> Show page</button>
    <div class="spacer"></div>
    <a href="javascript://" class="clear" title="Clear"><i class="zmdi zmdi-delete c-red"></i>Delete all</a>
</div>