<!DOCTYPE html>
<html>
<title>BuzzListing</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a class="w3-bar-item"><b>BuzzListing</b></a>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:800px;" id="home">
  <img class="w3-image" src="{{ STATIC_URL }}assets/images/confirmation.png" style='width:100%;padding: 10px' border="0" alt="Null">
</header>

  

</body>
</html>