<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuzzListing</title>
</head>
<link rel="stylesheet" href="{{ STATIC_URL }}buzzlisting/css/resetPassword.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/sweetalert2.min.css"/>
<body>

<!-- multistep form -->
<form id="msform">
  <!-- progressbar -->
  <!-- fieldsets -->
  <fieldset>
    <h1 class="fs-title">BuzzListing</h1>
      <h3 class="fs-subtitle">Change your password</h3>
    <input type="password" name="pass" placeholder="Password" id="password" required minlength=6/>
    <input type="password" name="cpass" placeholder="Confirm Password" id="confirm_password" pattern=".{6,}"   required title="6 characters minimum"/>
      <p style="display: none; font-size: small; color: red" id="match">Passwords do not match</p>
    <input type="submit" name="next" class="action-button confirm" id="submitBtn" value="Confirm" disabled/>
  </fieldset>
</form>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/sweetalert2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}buzzlisting/js/resetPassword.js"></script>
</html>