{% extends BASE_TEMPLATE %}

{% block css %}

    input{
    position: absolute;
    top: 0;
    right: 0;
    }

    textarea {
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: ;
    border: none;
    overflow: auto;
    outline: none;
    position: relative;
    }

    .box {
    position: relative;
    outline: 1px solid green;
    display: inline-block;
    padding: 30px 0;
    }

    .box:before {
    content: '[<]';
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: lightblue;
    }

    .box:after {
    content: '[>]';
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: lightblue;
    transform: scaleX(-1);
    }

    textarea[readonly] {
    border: none;
    background-color: ;
    }
{% endblock %}

{% block content %}

    <section id="main">
        {% with items=view.sidebar_menu %}
            {% include 'core/base/sidebar_permission.html' %}
        {% endwith %}
        <section id="content" class="content">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h2>HTML Editor
                            <small>Write Terms & Conditions Here</small>
                        </h2>
                    </div>
                    <div class="m-b-10">
                        <button class="btn btn-primary btn-sm hec-button waves-effect waves-button">Click here to edit
                            the
                            following content
                        </button>
                        <button class="btn btn-success btn-sm hec-save waves-effect waves-button" id="edit_submit"
                                style="display: none;">
                            Save
                        </button>
                    </div>

                    <div id="text" class="html-editor-click"  style="padding: 50px">
                        {#                    <textarea type="text" name="textarea" required readonly rows="30"#}
                        {#                              cols="145">Write somethinghere</textarea>#}
                        {#                    <input name="Edit" type="button" value="Edit">#}
                    </div>
                </div>
            </div>
        </section>
    </section>


{% endblock %}

{% block js %}

    <script>
        $.ajax({
            url: '/api/v1/terms/',
            method: 'GET',
            success: function (res) {
                {#                console.log(res[0].text);#}
                $('#text').empty().append(`${res[0].text}`);

            }
        })

        $('#edit_submit').on('click', function (e) {
            e.preventDefault();
            let edit_id = 1;
            let data = {};
            data.text = $('#text').code();
            console.log(data);
            data = JSON.stringify(data);
            $.ajax({
                "method": "PATCH",
                "processData": false,
                "contentType": 'application/json',
                "cache": false,
                "data": data,
                "url": '/api/v1/terms/' + edit_id + '/',
                "success": function (res) {
                    //notify('', 'Updated successfully', '', 'success', 2000);
                    // setTimeout(function () {
                    //     location.reload();
                    // }, 2000);
                },
                "error": function (res) {
                    var errors = res.responseText;
                    $.each(JSON.parse(errors), function (key, value) {
                        var nMessage = value;
                        notify('', nMessage, '', 'danger');
                    });
                }

            })
        });
    </script>


{% endblock %}