<aside id="sidebar" class="sidebar c-overflow">
        <ul class="main-menu">

                    <li class="sub-menu active toggled">
                       <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts-list-alt"></i> User Management</a>

                        <ul>
                            <li><a class="active" href="{{ url('admin:user:list') }}">Users</a></li>
                            <li><a class="" href="">Groups</a></li>
                            <li><a class="" href="">Department</a></li>
                            <li><a class="" href="">Role</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-settings"></i> Setting</a>

                        <ul>
                            <li><a href="../textual-menu.html">Textual menu</a></li>
                            <li><a href="../image-logo.html">Image logo</a></li>
                            <li><a href="../top-mainmenu.html">Mainmenu on top</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-attachment"></i> Plugins</a>

                        <ul>
                            <li><a href="../widget-templates.html">Templates</a></li>
                            <li><a href="../widgets.html">Widgets</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-calendar-note"></i> Logs</a>

                        <ul>
                            <li><a href="../tables.html">Normal Tables</a></li>
                            <li><a href="../data-tables.html">Data Tables</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>