<div class="modal fade" id="search_summary_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header search_sum_modal_header">
                <h3 class="modal-title search_sum_modal_title"><i class="zmdi zmdi-case m-r-10"></i> Case Summary</h3>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="tab-nav" role="tablist">
                        <li class="active" id="general_tab_li"><a href="#summary" aria-controls="summary" role="tab"
                                                                  data-toggle="tab">General Information</a></li>
                        <li id="uploaded_tab_li"><a href="#uploaded_document" aria-controls="uploaded_document"
                                                    role="tab"
                                                    id="uploaded_document_tab" data-info=""
                                                    data-toggle="tab">Uploaded Document</a>
                        </li>
                        <li id="generated_tab_li"><a href="#search_generated_document" aria-controls="uploaded_document"
                                                     role="tab"
                                                     id="search_generated_document_tab" data-info=""
                                                     data-toggle="tab">Generated Document</a>
                        </li>
                        <li id="search_process_tab_li"><a href="#search_process_map" aria-controls="search_process_map"
                                                          role="tab"
                                                          data-toggle="tab" id="search_process_map_tab" data-info="">Process
                            Map</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="summary">
                            {#                            <div class="modal-body">#}
                            <div class="panel-group" data-collapse-color="teal" id="accordionTeal"
                                 role="tablist" aria-multiselectable="true">
                                <div class="panel panel-collapse">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionTeal"
                                               href="#accordionTeal-one" aria-expanded="true">
                                                Case Properties
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="accordionTeal-one" class="collapse in" role="tabpanel">
                                        <div class="panel-body" id="case_property">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pmbb-body p-l-30">
                                                        <div class="pmbb-view">
                                                            <dl class="dl-horizontal">
                                                                <dt>Process</dt>
                                                                <dd class="process_name"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Application Number</dt>
                                                                <dd class="applicaion"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Current User</dt>
                                                                <dd class="current_user_name"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Next User</dt>
                                                                <dd class="next_user"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Status</dt>
                                                                <dd class="status"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Init Date</dt>
                                                                <dd class="init_date"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Init User</dt>
                                                                <dd class="init_user_name"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Updated at</dt>
                                                                <dd class="updated_at"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Description</dt>
                                                                <dd class="description"></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Finish Date</dt>
                                                                <dd class="finished_at"></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#                                    <div class="panel panel-collapse">#}
                                {#                                        <div class="panel-heading" role="tab">#}
                                {#                                            <h4 class="panel-title">#}
                                {#                                                <a class="collapsed" data-toggle="collapse"#}
                                {#                                                   data-parent="#accordionTeal"#}
                                {#                                                   href="#accordionTeal-two"#}
                                {#                                                   aria-expanded="false">#}
                                {#                                                    Current Task(s) Properties#}
                                {#                                                </a>#}
                                {#                                            </h4>#}
                                {#                                        </div>#}
                                {#                                        <div id="accordionTeal-two" class="collapse" role="tabpanel">#}
                                {#                                            <div class="panel-body" id="current_task">#}
                                {#                                                <div class="row">#}
                                {#                                                    <div class="col-md-12">#}
                                {#                                                        <div class="pmbb-body p-l-30">#}
                                {#                                                            <div class="pmbb-view">#}
                                {#                                                                <dl class="dl-horizontal">#}
                                {#                                                                    <dt>Task</dt>#}
                                {#                                                                    <dd class="task"></dd>#}
                                {#                                                                </dl>#}
                                {#                                                                <dl class="dl-horizontal">#}
                                {#                                                                    <dt>Current user</dt>#}
                                {#                                                                    <dd class="current_user"></dd>#}
                                {#                                                                </dl>#}
                                {#                                                                <dl class="dl-horizontal">#}
                                {#                                                                    <dt>Task Delegate Date</dt>#}
                                {#                                                                    <dd class="task_delegate_date"></dd>#}
                                {#                                                                </dl>#}
                                {#                                                                <dl class="dl-horizontal">#}
                                {#                                                                    <dt>Task Init Date</dt>#}
                                {#                                                                    <dd class="task_init_date"></dd>#}
                                {#                                                                </dl>#}
                                {#                                                                <dl class="dl-horizontal">#}
                                {#                                                                    <dt>Task Due Date</dt>#}
                                {#                                                                    <dd class="task_due_date"></dd>#}
                                {#                                                                </dl>#}
                                {#                                                                <dl class="dl-horizontal">#}
                                {#                                                                    <dt>Task Finish Date</dt>#}
                                {#                                                                    <dd class="task_finish_date"></dd>#}
                                {#                                                                </dl>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                            </div>
                            {#                            </div>#}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="search_generated_document">
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Create Date</th>
                                    </tr>
                                    </thead>
                                    <tbody id="search_generated_doc_body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="uploaded_document">
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>Original Task</th>
                                        <th>Create Date</th>
                                    </tr>
                                    </thead>
                                    <tbody id="search_upload_doc_body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="search_process_map">
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th width="15%">Task</th>
                                        <th width="15%">User</th>
                                        <th width="15%">Delegation</th>
                                        <th width="15%">Due Date</th>
                                        <th width="15%">Finish Date</th>
                                        <th width="15%">Time Taken</th>
                                        <th width="10%">Status</th>
                                        <th width="5%">EForm</th>
                                    </tr>
                                    </thead>
                                    <tbody id="search_map_table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>