.card-minimum-height {
    min-height: 600px;
}
.jstree-hovered {
    background: #deffff !important;
}
.jstree-clicked {
    background: #BEEBFF !important;
}
.jstree-table-cell {
    line-height: 24px;
}
.jstree-table-wrapper {
    padding-bottom: 30px;
}
.jstree-table-column-1, .jstree-table-column-2, .jstree-table-column-3 {
    text-align: center;
}
.button-left-right-wrap {
    margin-top: 25%;
}
