<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workflow</title>

    <!— Common CSS-->
    <link href="{{ STATIC_URL }}assets/css/common.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}core/search/css/search.css" rel="stylesheet">

</head>

<body>

<section id="main">
    <section id="content">
        <p>Hello,</p>
        <p>{{ message }}</p>
    </section>
</section>
</body>
</html>